body {
  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-weight: bold;
}

h1 {
  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-weight: bold;
}

span {
  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-weight: normal;
}
